#redball {
    -fx-fill: linear-gradient(to bottom, red 50%, white 50%);

    -fx-opacity: 0.8;

    -fx-stroke: #333333;
    -fx-stroke-width: 5;
}

.pokeball-border {
    -fx-fill: #333333;
    -fx-background-color: #333333;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}