#redball {
    -fx-fill: linear-gradient(
            from 0% 0% to 0% 100%,
            #ee1515 0%,
            #ee1515 50%,
            white 50%,
            white 100%
    );

    -fx-stroke: #333333;
    -fx-stroke-width: 10;
}

.button {
    -fx-background-color: white;
    -fx-border-color: #333333;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ee1515;
}

.scroll-pane, .scroll-pane .viewport, .scroll-pane .content {
    -fx-background-color: transparent;
}